html {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 75px;
}

h2 {
  margin-bottom: 38px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 重複1fr三次 */
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  background-color: #bd7d077e;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;

  display: inline-block;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #7f55088a;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

img {
  border-radius: 12px;
  margin: auto;
  width: 100%;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 重複1fr兩次 */
  column-gap: 80px;
  margin-top: 48px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 24px;
}

.header-text {
  margin-bottom: 24px;
  line-height: 1.7;
}

/* 隱藏圖片.mySlides fade中的圖片 */
/* .mySlides {
display: none;
} */

.slideshow-container {
  /* 置中.mySlides fade中的圖片 */
  height: 440px;
  display: flex;
  align-items: center;
  background-color: #dfdfdf;
  border-radius: 12px;
}

/* 針對所有螢幕大小 */
.slideshow-container img {
  width: 100%;
  height: auto;
}

/* Fading animation */
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 3s; /* 自定義動畫持續時間 */
  animation-iteration-count: infinite; /* 讓動畫無限循環 */
}

/* FEATURES */
.features-icon {
  stroke: #087f5b;
  width: 32px;
  height: 32px;
  /* margin-bottom: 24px; */
}

/* .features-title {
  margin-bottom: 16px;
} */

.features-text {
  /* 功能文字 */
  line-height: 1.7;
}

/* 想法 */
.testimonial-section {
  background-color: #bd7d077e;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  /* 由左至右，選擇第二格的位置直到最後(最右邊)一格的位置 */
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  line-height: 1.7;
}

/* CHAIRS */
.chair-special {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 24px;
}

.chair {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  padding: 24px;
}

h3 {
  margin-bottom: 24px;
}

.chair-details {
  list-style: none;
  margin-bottom: 24px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-price {
  display: flex;
  justify-content: space-between;
}

/**************************/
/* CTA SECTION */
/**************************/
.section-cta {
  background-color: #bd7d077e;
  padding: 48px 0;
  border-radius: 12px;
  margin-top: 100px;
}

.cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
  margin-left: 3%;
  margin-right: 3%;
  align-items: center;
  position: relative;
}

.heading-secondary {
  /* font-size: 24px; */
  font-weight: 700;
  margin-bottom: 16px;
}

.cta-text {
  /* font-size: 16px; */
  line-height: 1.6;
  margin-bottom: 24px;
}

.cta-form {
  display: grid;
  grid-gap: 22px;
}

.cta-form label {
  /* font-size: 14px; */
  font-weight: 600;
  display: block;
  margin-bottom: 4px;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* font-size: 14px; */
}

.cta-form button {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #7f5508;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cta-form button:hover {
  background-color: #9b6b0c;
}

/* .cta-img-box {
  background-image: url("chair-view.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 442px;
  border-radius: 12px;
} */
.cta-img-box {
  height: 442px;
}

.cta-img-box img {
  height: 100%;
}

.footer {
  text-align: center;
}

/* -------------------------- */
footer {
  margin-bottom: 48px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .slideshow-container {
    height: auto;
  }

  .top-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .slideshow-container img {
    max-width: 100%;
    height: auto;
  }

  .grid-3-cols {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .features-text {
    margin-bottom: 48px;
  }

  .chair {
    margin-bottom: 48px;
  }

  .header-text-box {
    text-align: center;
  }

  .header-text-box a {
    margin-bottom: 50px;
  }

  .testimonial-box {
    grid-column: 1 / -1;
  }

  .testimonial-section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .chair img {
    object-fit: cover;
    height: auto;
  }
  /* ------------------- */
  .cta {
    grid-template-columns: 1fr;
  }

  .section-cta {
    margin-top: 0;
  }

  .cta-text-box {
    text-align: center;
  }

  .cta-img-box {
    grid-row: 1;
    height: auto;
  }
}
